body {
    position: relative;
}

.dialog {
    visibility: hidden;
    position: absolute;
    width: 600px;
    height: 400px;
    border: 3px solid #0973b9;
    border-radius: 3px;
    background-color: #ffd800;
    top: 100px;
    left: 377px;
    right: 0;
    bottom: 0;
}

.dialog .dialog-title {
    display: flex;
    color: #fff;
    height: 25px;
    background-color: #0973b9;
}

.dialog .dialog-title .title-close-button {
    position: absolute;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    right: 0;
}

.dialog .dialog-body {
    padding: 10px;
    background-color: #fff;
    height: 312px;
}

input {
    padding: 0 4px;
    border: 1px solid #ccc;
    height: 25px;
}

input:focus {
    border: 1px solid #0973b9;
    outline: none;
}

.row {
    margin-bottom: 8px;
    display: inline-block;
}

.row label {
    display: block;
}

.row-1 {
    display: inline-block;
    width: 50%;
}

.row-2 {
    float: right;
    width: 50%;
}

.dialog .dialog-footer {
    height: 40px;
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dialog .dialog-footer input {
    margin-right: 10px;
    height: 35px;
    width: 100px;
}