<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SME</display-name>
 


<servlet>
     <servlet-name>servlet1</servlet-name>
     <servlet-class>web.Common</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet1</servlet-name>
	 <url-pattern>/</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>servlet2</servlet-name>
     <servlet-class>web.Home</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet2</servlet-name>
	 <url-pattern>/Home</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>servlet4</servlet-name>
     <servlet-class>web.Customer</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet4</servlet-name>
	 <url-pattern>/Customer</url-pattern>
</servlet-mapping>	 

<servlet>
     <servlet-name>servlet5</servlet-name>
     <servlet-class>web.Employee</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet5</servlet-name>
	 <url-pattern>/Employee</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>servlet6</servlet-name>
     <servlet-class>web.Good</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet6</servlet-name>
	 <url-pattern>/Good</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>servlet7</servlet-name>
     <servlet-class>web.PurchaseBill</servlet-class>
</servlet>
<servlet-mapping>
	 <servlet-name>servlet7</servlet-name>
	 <url-pattern>/PurchaseBill</url-pattern>
</servlet-mapping>

<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
</jsp-config>
</web-app>